.footer {
    background-color: $background-footer;
    padding: 60px 15px;

    @media screen and (min-width: 768px) {
        padding: 60px 0;
    }


    &__logo {
        color: $primary-background-color;
    }
    
    &__flex {
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    &__contacts {
        margin-top: 20px;
    }

    &__contacts-block {
        margin-right: 0;
        /*margin-right: 70px;*/
    }

    &__form {
        display: block;
        /*
        display: flex;
        margin-top: 20px;*/
    }

    &__join-block {
        text-align: center;
        margin: 60px 0 30px 0;
        /*margin-right: 93px;*/
    }
    
    &__join-block-title {
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
        letter-spacing: inherit;
        text-align: center;
        color: $primary-background-color;
        margin-bottom: 0px;
    }

    @media screen and (min-width: 480px) {
        &__flex {
            display: block;
            text-align: center;
        }

        &__contacts-block {
            margin-right: 0;
        }

        &__join-block {
            text-align: center;
            margin-top: 60px;
            margin-right: 0;
        }

        &__join-block-title {
            text-align: center;
        }

        &__subscribe-block {
            margin-top: 60px;
        }

        &__form {
            display: block;
        }
    }

    @media screen and (min-width: 768px) {
        &__tablet {
            display: flex;   
            align-items: baseline; 
            justify-content: space-around;
        }

        &__flex {
            margin: 0 auto;
            padding: 0;
        }
    }

    @media screen and (min-width: 1200px) {
        &__flex {
            display: flex;
            align-items: baseline; 
            justify-content: space-between;
        }

        &__tablet {
            display: flex;   
            justify-content: space-between;
        }

        &__subscribe-block {
            margin-top: 0px;
        }

        &__contacts-block {
            margin-right: 70px;
        }

        &__join-block-title {
            text-align: start;
        }

        &__form {
            display: flex;
            align-items: flex-start;
            margin-top: 20px;
        }
    }
}

.footer__address {
    font-style: normal;
    color: $primary-background-color;
    margin-bottom: 9px;

    &:hover,
    &:focus {
        color: $accent-color;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.footer__address-contacts {
    margin-bottom: 9px;

    &--link {
        color: rgba(255, 255, 255, 0.6);
        font-style: normal;
        text-decoration: none;
        line-height: 1.71;
    }
    
    &--link:hover,
    &--link:focus {
        color: $accent-color;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    @media screen and (min-width: 1200px) {
        text-align: start;
    }
}

.footer__links {
    margin-top: 20px;

    .link {
        background-color: rgba(255, 255, 255, 0.1);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .social__link-icon{
        fill: $primary-background-color;
    }
}

.footer__input {
    box-sizing: border-box;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    margin-right: 12px;
    padding: 15px;
    color: $primary-background-color;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;

    &:active, 
    &:focus {
    border: 1px solid $accent-color;
    outline: none;
    }

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 768px) {
        width: 450px;
        margin-top: 20px;
    }

    @media screen and (min-width: 1200px) {
        width: 358px;
        margin-top: 0;
    }
}

.footer__btn {
    background-color: $accent-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $primary-background-color;
    padding: 10px 28px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    @media screen and (min-width: 480px) {
        width: 200px;
    }


    &-icon {
        margin-left: 10px;
        width: 24px;
        height: 24px;
    }

    @media screen and (min-width: 480px) {
        .footer__btn {
            display: block;
            margin: 0 auto;
            width: 200px;
        }

        &-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}





