.hero {
    background-color: $background-footer;
    text-align: center;
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url(../../images/mobile1x.jpg);
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
        url(../images/mobile2x.jpg);
    }
    max-width: 1600px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;

    &__button {
        display: inline-block;
        background-color: $accent-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        /*font-weight: 700;*/
        font-size: 16px;
        line-height: 1.8;
        text-align: center;
        color: #FFFFFF;
        cursor: pointer;
        letter-spacing: 0.06em;
        padding: 10px 24px;
        margin-top: 40px;
        border: none;
        /*width: 100%;*/
    }

    &__title {
        width: 100%;
        font-size: 26px;
        line-height: 1.62;
        font-weight: 900;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    @media screen and (min-width: 480px) {
        &__button {
            padding: 10px 24px;
            width: 200px;
        }
    }

    @media screen and (min-width: 768px) {
        &__title {
            width: 360px;
            padding: 0;
            text-align: center;
            margin: 0 auto;

        }
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
            url(../../images/tablet1x.jpg);
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
                url(../../images/tablet2x.jpg);
            }
        }
    }

    @media screen and (min-width: 1200px) {
        &__title {
            font-size: 44px;
            line-height: 1.36;
            width: 696px;
            margin: 0 auto;
        }

        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
            url(../../images/background-img.jpg);
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
                url(../../images/background-img2x.jpg);
            }
        }
    }
}


