
.menu-toggle {
    display: inline-flex;
    border: none;
    background-color: transparent;

    .icon-cross {
        display: none;
    } 

    &.is-open .icon-cross{
        display: block;
    }

    &.is-open .icon-menu{
        display: none;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }


}
