.menu-toggle {
    display: inline-flex;
    border: none;
    background-color: transparent;

    .icon-cross {
        display: none;
    } 

    &.is-open .icon-cross{
        display: block;
    }

    &.is-open .icon-menu{
        display: none;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-container {
    display: none;
    position: absolute;
    top: 100%;
    /*top: 0;*/
    left: 0;
    width: 100%;
    background-color: turquoise;

    &.is-open {
        display: block;
    }
}
