.header {
    border-bottom: 1px solid #ECECEC;

    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
    }
}

.header__nav {

    @media screen and (min-width: 480px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        display: flex;
    }

    @media screen and (min-width: 768px) {
        margin-left: 93px;
    }

    &-item {
        margin-right: 50px;

        @media screen and (min-width: 480px) {
            display: none;
        }

        @media screen and (min-width: 768px) {
            display: flex;
        }
    }

    &-item:last-child {
        margin-right: 0;
    }

    &-link {
        position: relative;
        display: block;
        text-decoration: none;
        color: currentColor;
        padding: 32px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: $primary-text-color;
        font-weight: 500;
        line-height: 1.14;
    }

    &-link:hover,
    &-link:focus {
    color: $accent-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &-link.current {
        @media screen and (min-width: 768px) {
            color: $accent-color;
        }
    }

    &-link.current::after{
        @media screen and (min-width: 768px) {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: $accent-color;
            border-radius: 2px;
            opacity: 1;
        }
    }
}

.header__address {
    
    &-nav {
        color: $secondary-text-color;
        display: flex;
        align-items: center;
        font-weight: 500;
        line-height: 1.14;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-nav:hover,
    &-nav:focus {
        color: $accent-color;
        fill: $accent-color;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    

    @media screen and (min-width: 480px) {
        .header__address {
            display: none;
        }

        &-item {
            display: none;
        }
    }

    @media screen and (min-width: 768px) {
        .header__address {
            display: block;
            margin-right: 0;
        }

        &-item {
            display: block;
            margin-right: 0;
            margin-bottom: 10px;
        }

        &-item:last-child {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        /*margin-left: auto;*/
        flex-wrap: nowrap;

        &-item {
            margin-right: 30px;
            margin-bottom: 0;
        }
    
        &-item + .item {
            margin: 0;
        }
    }
}


.header__item-icon {
    margin-right: 10px;
    fill: currentColor;

    &:hover,
    &:focus {
        color: $accent-color;
        fill: $accent-color;
    }

    &--mail {
        width: 16px;
        height: 12px;
    }
    
    &--phone {
        width: 10px;
        height: 16px;
    }
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000;

    &--accent {
        color: $accent-color;
    }

    @media screen and (min-width: 480px) {
        .logo {
            font-size: 24px;
            text-align: center;
        }
    }

    @media screen and (min-width: 768px) {
        .logo {
            text-align: start;
        }

        &--accent {
            text-align: start;
        }
    }

    @media screen and (min-width: 1200px) {
        .logo {
            text-align: start;
        }
    }
}
