.partners {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
        
    &__image {
        /*display: block;*/
        margin: 0;
        margin-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin-right: 0px;
        padding: 0;
    }
        
        &__link:hover,
        &__link:focus {
            border: 1px solid $accent-color;
            fill: $accent-color;
        }

        &__link:hover > .partners__logo,
        &__link:focus > .partners__logo {
        fill: $accent-color;
        }

        &__logo {
            display: block;
            fill: #AFB1B8;
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

    @media screen and (min-width: 480px) {
        &__image {
            width: calc((100% - 1 * 30px) / 2);
    
            &:not(:nth-last-child(-n + 2)) {
                margin-bottom: 30px;
            }
        }
    }
    
    @media screen and (min-width: 768px) {
        &__image {
            width: calc((100% - 2 * 30px) / 3);
    
            &:not(:nth-last-child(-n + 3)) {
                margin-bottom: 30px;
            }
    
            &:not(:nth-child(3n)) {
                margin-right: 30px;
            }
        }
    }
    
    @media screen and (min-width: 1200px) {
        &__image {
            width: calc((100% - 5 * 30px) / 6);
    
            &:not(:last-child) {
                margin-right: 30px;
            }
        }
    }
}
        


